* {
    margin: 0;
    padding: 0;
}

:root {
    --red: rgb(176, 83, 83);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--red);
}

.welcome {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-item {
    margin: 5px;
}

#startBtn {
    padding: 5px 8px;
    margin-top: 10px;
    background-color: var(--red);
    border-radius: 5px;
    border: solid var(--red);
    color: #ffff;
}

@media (max-width: 800px){
    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        margin: 5px;

    }

    .welcome {
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-item {
        margin: 5px;
    }

    #startBtn {
        padding: 5px 8px;
    }
}
@media (max-width: 600px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px;

    }

    .welcome {
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-item {
        margin: 5px;
    }

    #startBtn {
        padding: 5px 8px;
    }
}
@media (max-width: 400px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px;

    }

    .welcome {
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-item {
        margin: 5px;
    }

    #startBtn {
        padding: 5px 8px;
    }
}